<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="./../../assets/stylesheets/reset.css" >
  <link rel="stylesheet" type="text/css" href="./../../assets/stylesheets/common.css" >
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="./../../assets/javascripts/script.js"></script>
</head>
<body>
  <div id="summary">
    <div class="question">
      <h2 class="title">質問1</h2>
      <p class="contents">javaがわかりません</p>
    </div>
    <div class="question">
      <h2 class="title">質問2</h2>
    </div>
    <div class="question">
      <h2 class="title">質問3</h2>
    </div>
  </div>
</body>
</html>
