#container {
  font-family: 'Quicksand', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#header {
  font-size: 25px;
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;
  background-image: linear-gradient(to bottom, #474D57 0%, #3D424A 100%)
}

#header h1 {
  font-weight: normal;
}

#categoly {
  position: fixed;
  float: left;
  width: 90px;
  margin: 15px;
  text-align: center;
}

li {
  list-style: none;
}

#categoly li:hover{
  cursor: pointer;
  background-color: #f3f3f3;
}
#categoly p{
  margin-bottom: 10px;
  background-color: #f3f3f3;
  font-weight: bold;
}

#categoly li:first-child {
  color: #00a9c7;
}

#summary {
  float: left;
  width: 740px;
  margin: 0 35px 0 140px;
}
#summary p {
  margin: 0 20px 0 20px;
}

.topic {
  border-bottom: solid 1px #F2B33F;
  margin-bottom: 20px;
  padding: 10px;
}

.index {
  color: #ff69b4;
  font-size: 20px;
}

.title {
  padding: 10px;
}

h2.title{
  font-size: 20px;
}

.title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.tag {
  margin-left: 10px;
  float: left;
}

.pv {
  float: right;
  margin-right: 10px;
  padding: 0 5px 0 5px;
  color: #000;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 15px;
}

.pv a {
  text-decoration: none;
  color: #000;
}

.pv a:hover {
  color: #fff;
}

.pv:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
}
.user {
  color: #dcdcdc;
  font-size: 15px;
}

span {
  color: #dcdcdc;
  font-size: 15px;
}

.user:hover {
  text-decoration: underline;
  cursor: pointer;
}

.question {
  margin: 10px;
  padding-bottom:10px;
}

.answer {
  margin: 10px;
  padding-top:10px;
  border-top: 1px solid #dcdcdc;
}

#my {
  width: 280px;
  position: fixed;
  right: 15px;
  border-left: solid 1px #2EB8AC;
  padding: 10px;
  margin-right: 20px;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 5px;
}

